
:root {
    /* --yellow: #9D7800;
    --light-orange: #955C00;
    --orange: #8a3c09;
    --red: #7A0022;
    --magenta: #800023;
    --purple: #390E2D;
    --text-grey: #8EA4B0; */
    --yellow: #D8A500;
    --light-orange: #D58200;
    --orange: #D04400;
    --red: #9A121E;
    --magenta: #900C3E;
    --purple: #571845;
    --text-grey: #8EA4B0;
}

body {
    background: #000F1A;
    font-family: "Gill Sans", Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: var(--text-grey);
}

#header{
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
}

h1{
    color: #fff;
    font-size: 30px;
    /* border-bottom: 1px solid #fff; */
    text-transform: uppercase;
    margin: 0 0 20px 0;
}

p{
    font-size: 15px;
    width: 320px;
}

#legend{
    margin-top: 80px;
}

#visualisation{
    margin-left: 300px;
    text-align: center;
    position: relative;
    z-index: 999;
    max-width: 900px;
}

/* Labels */
.label {
    font-size: 9px;
    fill: #8EA4B0;
}
.highlight.label{
    fill: #fff;
}

/* Map */
.map-background {
    fill: #002948 !important;
}

path.map{
    fill: #08101D !important;
}

.map.highlight {
    /* filter: brightness(100%); */
    /* fill: #223644 !important; */
    fill: #426B89 !important;
}

.bar-group,
.label,
path.map {
    cursor: pointer;
}

.bar-group.yellow{
    fill: var(--yellow);
}

.bar-group.light-orange{
    fill: var(--light-orange);
}

.bar-group.orange{
    fill: var(--orange);
}

.bar-group.red{
    fill: var(--red);
}

.bar-group.magenta{
    fill: var(--magenta);
}

.bar-group.purple{
    fill: var(--purple);
}

/* Selected */

.bar-group.yellow .highlight{
    fill: #E4C04D;
}

.bar-group.light-orange .highlight{
    fill: #E3A84D;
}

.bar-group.orange .highlight{
    fill: #DF7B4D;
}

.bar-group.red .highlight{
    fill: #B9575E;
}

.bar-group.magenta .highlight{
    fill: #B25177;
}

.bar-group.purple .highlight{
    fill: #8A5C7D;
}

 /* Customize the label (the container) */
.container {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 0px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 20px;
  line-height: 16px;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  /* background-color: #eee; */
}

.yellow .checkmark {
    background-color: var(--yellow);
}

.light-orange .checkmark {
    background-color: var(--light-orange);
}

.orange .checkmark {
    background-color: var(--orange);
}

.red .checkmark {
    background-color: var(--red);
}

.magenta .checkmark {
    background-color: var(--magenta);
}

.purple .checkmark {
    background-color: var(--purple);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.selected .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 5px;
  top: 1px;
  width: 4px;
  height: 8px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  opacity: 0.4;
}
