        body {
            background: #000F1A;
            font-family: "Gill Sans", Arial, Helvetica, sans-serif;
            /* font-size: 9px; */
            color: #fff;
        }

        /* Grid layout */

        .wrapper {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 10px;
            grid-auto-rows: minmax(100px, auto);
        }

        h1{
            font-size: 30px;
            border-bottom: 2px solid #fff;
            text-transform: uppercase;
            display: inline;
        }

        h2{
            font-size: 20px;
            /* border-bottom: 5px solid #fff; */
        }

        /* #countryTooltip {
            position: absolute;
            height: auto;
            padding: 10px;
            background-color: white;
            pointer-events: none;
            border: solid #ccc 1px;
            color: #666;
            font-size: 14px;
            font-family: sans-serif;
        }

        #countryTooltip.hidden {
            display: none;
        } */

        .selected {
            fill: red !important;
        }

        .map-background {
            fill: #0F2231 !important;

            fill: #002948 !important;


        }

        .map-background2 {
            fill: #001625 !important;




        }

        .highlight {
            filter: brightness(2)!important;
            /* -webkit-filter: brightness(125%);
            -moz-filter: brightness(125%);
            -o-filter: brightness(125%);
            -ms-filter: brightness(125%); */
             /* fill: #0F2231 !important; */
        }

        .map.highlight {
            filter: brightness(100%);
            fill: #223644 !important;
        }

        path,
        .label {
            cursor: pointer;
        }

        .label {
            fill: #8EA4B0 !important;
            font-size: 9px;
        }

        .bar{
            /* width: 100px; */
            height: 20px;
            /* background: red; */
            border: 2px solid black;
        }


        /* MAP */
        path.map{
            fill: #08101D !important;
        }

        /* #legend{
            height: 300px;
            border: 1px solid pink;
        }

        #country-info, #legend{
            background: teal;
        } */

        #legend .title {
            font-size: 16px;
            fill: #fff!important;
        }

        #legend .label {
            font-size: 16px;
            fill: #fff!important;
        }